[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
importlib-resources = "*"
ipdb = "*"
pydantic = "*"
flask-socketio = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8.13"
